# Filtrado de base de datos companies.json

Importo las librerías.

In [117]:
import pymongo
from pymongo import MongoClient
client = MongoClient("localhost", 27017)
db = client["companies"]

from pandas.io.json import json_normalize

import pandas as pd

data = db.companies.find()

In [118]:
dataset = pd.DataFrame(list(data))
dataset.head()

,_id,acquisition,acquisitions,alias_list,blog_feed_url,blog_url,category_code,competitions,created_at,crunchbase_url,deadpooled_day,deadpooled_month,deadpooled_url,deadpooled_year,description,email_address,external_links,founded_day,founded_month,founded_year,funding_rounds,homepage_url,image,investments,ipo,milestones,name,number_of_employees,offices,overview,partners,permalink,phone_number,products,providerships,relationships,screenshots,tag_list,total_money_raised,twitter_username,updated_at,video_embeds
0,52cdef7c4bab8bd675297d8b,None,[],Zoho ManageEngine,,,enterprise,[],2007-05-25 19:24:22,http://www.crunchbase.com/company/adventnet,NaN,NaN,NaN,2.0,Server Management Software,pr@adventnet.com,[],NaN,NaN,1996.0,[],http://adventnet.com,"{u'available_sizes': [[[150, 55], u'assets/ima...",[],NaN,[],AdventNet,600.0,"[{u'city': u'Pleasanton', u'description': u'He...","<p>AdventNet is now <a href=""/company/zoho-man...",[],abc3,925-924-9500,[],"[{u'is_past': True, u'provider': {u'permalink'...","[{u'is_past': True, u'person': {u'first_name':...","[{u'available_sizes': [[[150, 94], u'assets/im...",,$0,manageengine,Wed Oct 31 18:26:09 UTC 2012,[]
1,52cdef7c4bab8bd675297d92,"{u'acquired_month': 5, u'price_amount': 200000...",[],None,http://www.flektor-blog.com/video_editing_soft...,http://www.flektor-blog.com,games_video,"[{u'competitor': {u'permalink': u'rockyou', u'...",Thu May 31 21:11:51 UTC 2007,http://www.crunchbase.com/company/flektor,NaN,NaN,None,NaN,None,None,[],NaN,NaN,NaN,[],http://www.flektor.com,"{u'available_sizes': [[[150, 68], u'assets/ima...",[],None,[],Flektor,NaN,"[{u'city': u'Culver City', u'description': Non...",<p>Flektor is a rich-media mash-up platform th...,[],flektor,None,"[{u'permalink': u'flektor', u'name': u'Flektor'}]",[],"[{u'is_past': True, u'person': {u'first_name':...",[],"flektor, photo, video",$0,None,Sat Nov 05 08:42:23 UTC 2011,[]
2,52cdef7c4bab8bd675297d8c,None,[],,http://blogs.zoho.com/feed,http://blogs.zoho.com/,software,"[{u'competitor': {u'permalink': u'empressr', u...",Fri May 25 19:30:28 UTC 2007,http://www.crunchbase.com/company/zoho,NaN,NaN,NaN,3.0,Online Business Apps Suite,info@zohocorp.com,"[{u'title': u'Zoho Overview', u'external_url':...",15.0,9.0,2005.0,[],http://zoho.com,"{u'available_sizes': [[[150, 55], u'assets/ima...",[],NaN,"[{u'stoned_month': 8, u'stoned_value': None, u...",Zoho,1600.0,"[{u'city': u'Pleasanton', u'description': u'He...","<p>Zoho offers a suite of Business, Collaborat...",[],abc4,1-888-204-3539,"[{u'permalink': u'zoho-office-suite', u'name':...",[],"[{u'is_past': False, u'person': {u'first_name'...",[],"zoho, officesuite, spreadsheet, writer, projec...",$0,zoho,Wed Oct 30 00:07:05 UTC 2013,"[{u'embed_code': u'<object width=""430"" height=..."
3,52cdef7c4bab8bd675297d8f,None,[],None,http://feeds.feedburner.com/omnidrive,http://www.omnidrive.com/blog,network_hosting,"[{u'competitor': {u'permalink': u'dropbox', u'...",Sun May 27 03:25:32 UTC 2007,http://www.crunchbase.com/company/omnidrive,15.0,9.0,,2008.0,None,info@omnidrive.com,[],1.0,11.0,2005.0,[{u'investments': [{u'person': {u'first_name':...,http://www.omnidrive.com,"{u'available_sizes': [[[150, 85], u'assets/ima...",[],None,[],Omnidrive,NaN,"[{u'city': u'Palo Alto', u'description': u'', ...","<p>Currently in public beta, Omnidrive makes i...",[],omnidrive,660-675-5052,"[{u'permalink': u'omnidrive', u'name': u'Omnid...",[],"[{u'is_past': True, u'person': {u'first_name':...",[],"storage, sharing, edit, online",$800k,Nomadesk,Tue Jul 02 22:48:04 UTC 2013,[]
4,52cdef7c4bab8bd675297d93,None,"[{u'acquired_month': 5, u'price_amount': 20000...",None,,,web,[],Thu May 31 21:46:57 UTC 2007,http://www.crunchbase.com/company/fox-interact...,NaN,NaN,,NaN,,,[],1.0,6.0,1979.0,[],http://www.newscorp.com,"{u'available_sizes': [[[150, 71], u'assets/ima...","[{u'funding_round': {u'funded_month': 3, u'sou...",None,[],Fox Interactive Media,0.0,"[{u'city': u'Beverly Hills', u'description': u...",<p>Fox Interactive Media (FIM) oversees <a hre...,[],fox-interactive-media,,[],[],"[{u'is_past': False, u'person': {u'first_name'...","[{u'available_sizes': [[[150, 94], u'assets/im...",,$0,twitterapi,Mon Aug 19 17:13:27 UTC 2013,"[{u'embed_code': u'<embed src=""http://blip.tv/..."

In [119]:
pd.set_option("display.max_columns", 500)
display(dataset.head())

,_id,acquisition,acquisitions,alias_list,blog_feed_url,blog_url,category_code,competitions,created_at,crunchbase_url,deadpooled_day,deadpooled_month,deadpooled_url,deadpooled_year,description,email_address,external_links,founded_day,founded_month,founded_year,funding_rounds,homepage_url,image,investments,ipo,milestones,name,number_of_employees,offices,overview,partners,permalink,phone_number,products,providerships,relationships,screenshots,tag_list,total_money_raised,twitter_username,updated_at,video_embeds
0,52cdef7c4bab8bd675297d8b,None,[],Zoho ManageEngine,,,enterprise,[],2007-05-25 19:24:22,http://www.crunchbase.com/company/adventnet,NaN,NaN,NaN,2.0,Server Management Software,pr@adventnet.com,[],NaN,NaN,1996.0,[],http://adventnet.com,"{u'available_sizes': [[[150, 55], u'assets/ima...",[],NaN,[],AdventNet,600.0,"[{u'city': u'Pleasanton', u'description': u'He...","<p>AdventNet is now <a href=""/company/zoho-man...",[],abc3,925-924-9500,[],"[{u'is_past': True, u'provider': {u'permalink'...","[{u'is_past': True, u'person': {u'first_name':...","[{u'available_sizes': [[[150, 94], u'assets/im...",,$0,manageengine,Wed Oct 31 18:26:09 UTC 2012,[]
1,52cdef7c4bab8bd675297d92,"{u'acquired_month': 5, u'price_amount': 200000...",[],None,http://www.flektor-blog.com/video_editing_soft...,http://www.flektor-blog.com,games_video,"[{u'competitor': {u'permalink': u'rockyou', u'...",Thu May 31 21:11:51 UTC 2007,http://www.crunchbase.com/company/flektor,NaN,NaN,None,NaN,None,None,[],NaN,NaN,NaN,[],http://www.flektor.com,"{u'available_sizes': [[[150, 68], u'assets/ima...",[],None,[],Flektor,NaN,"[{u'city': u'Culver City', u'description': Non...",<p>Flektor is a rich-media mash-up platform th...,[],flektor,None,"[{u'permalink': u'flektor', u'name': u'Flektor'}]",[],"[{u'is_past': True, u'person': {u'first_name':...",[],"flektor, photo, video",$0,None,Sat Nov 05 08:42:23 UTC 2011,[]
2,52cdef7c4bab8bd675297d8c,None,[],,http://blogs.zoho.com/feed,http://blogs.zoho.com/,software,"[{u'competitor': {u'permalink': u'empressr', u...",Fri May 25 19:30:28 UTC 2007,http://www.crunchbase.com/company/zoho,NaN,NaN,NaN,3.0,Online Business Apps Suite,info@zohocorp.com,"[{u'title': u'Zoho Overview', u'external_url':...",15.0,9.0,2005.0,[],http://zoho.com,"{u'available_sizes': [[[150, 55], u'assets/ima...",[],NaN,"[{u'stoned_month': 8, u'stoned_value': None, u...",Zoho,1600.0,"[{u'city': u'Pleasanton', u'description': u'He...","<p>Zoho offers a suite of Business, Collaborat...",[],abc4,1-888-204-3539,"[{u'permalink': u'zoho-office-suite', u'name':...",[],"[{u'is_past': False, u'person': {u'first_name'...",[],"zoho, officesuite, spreadsheet, writer, projec...",$0,zoho,Wed Oct 30 00:07:05 UTC 2013,"[{u'embed_code': u'<object width=""430"" height=..."
3,52cdef7c4bab8bd675297d8f,None,[],None,http://feeds.feedburner.com/omnidrive,http://www.omnidrive.com/blog,network_hosting,"[{u'competitor': {u'permalink': u'dropbox', u'...",Sun May 27 03:25:32 UTC 2007,http://www.crunchbase.com/company/omnidrive,15.0,9.0,,2008.0,None,info@omnidrive.com,[],1.0,11.0,2005.0,[{u'investments': [{u'person': {u'first_name':...,http://www.omnidrive.com,"{u'available_sizes': [[[150, 85], u'assets/ima...",[],None,[],Omnidrive,NaN,"[{u'city': u'Palo Alto', u'description': u'', ...","<p>Currently in public beta, Omnidrive makes i...",[],omnidrive,660-675-5052,"[{u'permalink': u'omnidrive', u'name': u'Omnid...",[],"[{u'is_past': True, u'person': {u'first_name':...",[],"storage, sharing, edit, online",$800k,Nomadesk,Tue Jul 02 22:48:04 UTC 2013,[]
4,52cdef7c4bab8bd675297d93,None,"[{u'acquired_month': 5, u'price_amount': 20000...",None,,,web,[],Thu May 31 21:46:57 UTC 2007,http://www.crunchbase.com/company/fox-interact...,NaN,NaN,,NaN,,,[],1.0,6.0,1979.0,[],http://www.newscorp.com,"{u'available_sizes': [[[150, 71], u'assets/ima...","[{u'funding_round': {u'funded_month': 3, u'sou...",None,[],Fox Interactive Media,0.0,"[{u'city': u'Beverly Hills', u'description': u...",<p>Fox Interactive Media (FIM) oversees <a hre...,[],fox-interactive-media,,[],[],"[{u'is_past': False, u'person': {u'first_name'...","[{u'available_sizes': [[[150, 94], u'assets/im...",,$0,twitterapi,Mon Aug 19 17:13:27 UTC 2013,"[{u'embed_code': u'<embed src=""http://blip.tv/..."

Después de haber visualizado los datos, he decidido que aquellos requisitos que voy a priorizar son:
    1- Encontrarse cerca de empresas que tengan un valor superior a 1 millon de dólares;
    2- Encontrarse cerca de empresas que tengan menos de 10 años de antigüedad (creadas al menos desde 2009)
    3- Encontrarse cerca de lugares que tengan vida nocturna.

In [120]:
perfect_place = db.companies.find({"$and":
                                   [{"offices.latitude":{"$exists":True}},
                                    {"offices.latitude":{"$ne":None}},
                                    {"offices.longitude":{"$exists":True}},
                                    {"offices.longitude":{"$ne":None}},
                                    {"total_money_raised":{"$exists":True}},
                                    {"total_money_raised":{"$not":{"$size":0}}},
                                    {"founded_year":{"$gte":2000}},
                                    {"founded_year":{"$ne":None}},
                                    {"offices":{"$not":{"$size":0}}}]},
                                  {"name":1, "total_money_raised":1, "founded_year":1, "offices":1, 
                                   "offices.latitude": 1, "offices.longitude": 1, "_id":0})

In [121]:
from pandas.io.json import json_normalize


dataframe = json_normalize(data = perfect_place, record_path = "offices", 
                             meta = ["name", "founded_year",
                                    "total_money_raised"])

In [122]:
display(dataframe.head())
print(dataframe.shape)
print(dataframe.columns)

,address1,address2,city,country_code,description,latitude,longitude,state_code,zip_code,total_money_raised,name,founded_year
0,4900 Hopyard Rd,Suite 310,Pleasanton,USA,Headquarters,37.692934,-121.904945,CA,94588,$0,Zoho,2005
1,None,None,Menlo Park,USA,None,37.484130,-122.169472,CA,None,$18.1M,Gizmoz,2003
2,710 - 2nd Avenue,Suite 1100,Seattle,USA,,47.603122,-122.333253,WA,98104,$39.8M,Wetpaint,2005
3,270 Lafayette Street,Suite 505,New York,USA,,40.723731,-73.996431,NY,10012,$39.8M,Wetpaint,2005
4,16935 W. Bernardo Dr. Suite 101,,San Diego,USA,,33.022176,-117.081406,CA,92127,$73.1M,Slacker,2006

(6689, 12)
Index([          u'address1',           u'address2',               u'city',
             u'country_code',        u'description',           u'latitude',
                u'longitude',         u'state_code',           u'zip_code',
       u'total_money_raised',               u'name',       u'founded_year'],
      dtype='object')

In [123]:
df_aux = dataframe[["name", "latitude", "longitude", "founded_year", "city", "country_code", "total_money_raised"]]

In [124]:
df_aux.head()

,name,latitude,longitude,founded_year,city,country_code,total_money_raised
0,Zoho,37.692934,-121.904945,2005,Pleasanton,USA,$0
1,Gizmoz,37.484130,-122.169472,2003,Menlo Park,USA,$18.1M
2,Wetpaint,47.603122,-122.333253,2005,Seattle,USA,$39.8M
3,Wetpaint,40.723731,-73.996431,2005,New York,USA,$39.8M
4,Slacker,33.022176,-117.081406,2006,San Diego,USA,$73.1M

Ahora voy a limpiar los datos de cada una de las columnas que vamos a utilizar.

In [125]:
df_aux["total_offices"] = df_aux["name"].map(df_aux["name"].value_counts())

/home/marta/.local/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [126]:
def get_offices_locat2(lon, lat):
    offices_locat = {
            "type":"Point",
            "coordinates":[lon, lat]
        }
    return offices_locat

In [127]:
df_aux["geo"] = df_aux.apply(lambda x: get_offices_locat2(x['longitude'], x['latitude']), axis=1)

/home/marta/.local/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [128]:
display(df_aux.head())
print(df_aux.shape)

,name,latitude,longitude,founded_year,city,country_code,total_money_raised,total_offices,geo
0,Zoho,37.692934,-121.904945,2005,Pleasanton,USA,$0,1,"{u'type': u'Point', u'coordinates': [-121.9049..."
1,Gizmoz,37.484130,-122.169472,2003,Menlo Park,USA,$18.1M,1,"{u'type': u'Point', u'coordinates': [-122.1694..."
2,Wetpaint,47.603122,-122.333253,2005,Seattle,USA,$39.8M,2,"{u'type': u'Point', u'coordinates': [-122.3332..."
3,Wetpaint,40.723731,-73.996431,2005,New York,USA,$39.8M,2,"{u'type': u'Point', u'coordinates': [-73.99643..."
4,Slacker,33.022176,-117.081406,2006,San Diego,USA,$73.1M,1,"{u'type': u'Point', u'coordinates': [-117.0814..."

(6689, 9)

In [129]:
df_aux = df_aux.fillna(value=0)
df_aux.head()

,name,latitude,longitude,founded_year,city,country_code,total_money_raised,total_offices,geo
0,Zoho,37.692934,-121.904945,2005,Pleasanton,USA,$0,1,"{u'type': u'Point', u'coordinates': [-121.9049..."
1,Gizmoz,37.484130,-122.169472,2003,Menlo Park,USA,$18.1M,1,"{u'type': u'Point', u'coordinates': [-122.1694..."
2,Wetpaint,47.603122,-122.333253,2005,Seattle,USA,$39.8M,2,"{u'type': u'Point', u'coordinates': [-122.3332..."
3,Wetpaint,40.723731,-73.996431,2005,New York,USA,$39.8M,2,"{u'type': u'Point', u'coordinates': [-73.99643..."
4,Slacker,33.022176,-117.081406,2006,San Diego,USA,$73.1M,1,"{u'type': u'Point', u'coordinates': [-117.0814..."

In [130]:
#crear nueva columna con lista de lng, lat

In [131]:
df_aux["long-lat"]=df_aux["longitude"].astype(str) + ", " + df_aux["latitude"].astype(str)
df_aux

,name,latitude,longitude,founded_year,city,country_code,total_money_raised,total_offices,geo,long-lat
0,Zoho,37.692934,-121.904945,2005,Pleasanton,USA,$0,1,"{u'type': u'Point', u'coordinates': [-121.9049...","-121.904945, 37.692934"
1,Gizmoz,37.484130,-122.169472,2003,Menlo Park,USA,$18.1M,1,"{u'type': u'Point', u'coordinates': [-122.1694...","-122.169472, 37.48413"
2,Wetpaint,47.603122,-122.333253,2005,Seattle,USA,$39.8M,2,"{u'type': u'Point', u'coordinates': [-122.3332...","-122.333253, 47.603122"
3,Wetpaint,40.723731,-73.996431,2005,New York,USA,$39.8M,2,"{u'type': u'Point', u'coordinates': [-73.99643...","-73.9964312, 40.7237306"
4,Slacker,33.022176,-117.081406,2006,San Diego,USA,$73.1M,1,"{u'type': u'Point', u'coordinates': [-117.0814...","-117.081406, 33.022176"
5,Scribd,37.789634,-122.404052,2007,San Francisco,USA,$25.8M,1,"{u'type': u'Point', u'coordinates': [-122.4040...","-122.404052, 37.789634"
6,Helio,34.057498,-118.446596,2005,Los Angeles,USA,$0,1,"{u'type': u'Point', u'coordinates': [-118.4465...","-118.446596, 34.057498"
7,Geni,34.090368,-118.393064,2006,West Hollywood,USA,$16.5M,1,"{u'type': u'Point', u'coordinates': [-118.3930...","-118.393064, 34.090368"
8,MeetMoi,40.757929,-73.985506,2007,New York City,USA,$5.58M,1,"{u'type': u'Point', u'coordinates': [-73.98550...","-73.985506, 40.757929"
9,Babelgum,53.344104,-6.267494,2007,London,GBR,$13.2M,1,"{u'type': u'Point', u'coordinates': [-6.267494...","-6.267494, 53.344104"
10,Joost,40.746497,-74.009447,2006,New York,USA,$45M,1,"{u'type': u'Point', u'coordinates': [-74.00944...","-74.0094471, 40.7464969"
11,Digg,37.764726,-122.394523,2004,San Francisco,USA,$45M,1,"{u'type': u'Point', u'coordinates': [-122.3945...","-122.394523, 37.764726"
12,Plaxo,37.387845,-122.055197,2002,Sunnyvale,USA,$28.3M,1,"{u'type': u'Point', u'coordinates': [-122.0551...","-122.055197, 37.387845"
13,Twitter,37.776805,-122.416924,2006,San Francisco,USA,$1.16B,1,"{u'type': u'Point', u'coordinates': [-122.4169...","-122.4169244, 37.7768052"
14,Facebook,37.416050,-122.151801,2004,Menlo Park,USA,$2.43B,3,"{u'type': u'Point', u'coordinates': [-122.1518...","-122.151801, 37.41605"
15,Facebook,53.344104,-6.267494,2004,Dublin,IRL,$2.43B,3,"{u'type': u'Point', u'coordinates': [-6.267494...","-6.267494, 53.344104"
16,Facebook,40.755716,-73.979247,2004,New York,USA,$2.43B,3,"{u'type': u'Point', u'coordinates': [-73.97924...","-73.9792469, 40.7557162"
17,Powerset,37.778613,-122.395289,2006,San Francisco,USA,$22.5M,1,"{u'type': u'Point', u'coordinates': [-122.3952...","-122.395289, 37.778613"
18,Technorati,37.779558,-122.393041,2002,San Francisco,USA,$32.1M,1,"{u'type': u'Point', u'coordinates': [-122.3930...","-122.393041, 37.779558"
19,Mahalo,34.017606,-118.487267,2007,Culver City,USA,$21M,1,"{u'type': u'Point', u'coordinates': [-118.4872...","-118.487267, 34.017606"
20,Veoh,32.902266,-117.208340,2004,San Diego,USA,$69.8M,1,"{u'type': u'Point', u'coordinates': [-117.2083...","-117.20834, 32.902266"
21,Kyte,37.788482,-122.409173,2006,San Francisco,USA,$23.4M,1,"{u'type': u'Point', u'coordinates': [-122.4091...","-122.409173, 37.788482"
22,Sparter,37.090240,-95.712891,2007,0,USA,$0,1,"{u'type': u'Point', u'coordinates': [-95.71289...","-95.712891, 37.09024"
23,Thoof,30.268735,-97.745209,2006,Austin,USA,$1M,1,"{u'type': u'Point', u'coordinates': [-97.74520...","-97.745209, 30.268735"
24,Meetup,40.726040,-73.995722,2002,New York,USA,$18.3M,1,"{u'type': u'Point', u'coordinates': [-73.99572...","-73.995722, 40.72604"
25,Jingle Networks,37.480999,-122.173887,2005,New York,USA,$88.7M,1,"{u'type': u'Point', u'coordinates': [-122.1738...","-122.173887, 37.480999"
26,Wesabe,37.793148,-122.402567,2005,San Francisco,USA,$4.7M,1,"{u'type': u'Point', u'coordinates': [-122.4025...","-122.402567, 37.793148"
27,SmugMug,37.390056,-122.067692,2002,Mountain View,USA,$0,1,"{u'type': u'Point', u'coordinates': [-122.0676...","-122.067692, 37.390056"
28,Jangl SMS,37.697805,-121.907768,2005,Pleasanton,USA,$9M,1,"{u'type': u'Point', u'coordinates': [-121.9077...","-121.907768, 37.697805"
29,LifeLock,33.429859,-111.938739,2005,Tempe,USA,$178M,1,"{u'type': u'Point', u'coordinates': [-111.9387...","-111.938739, 33.429859"
...,...,...,...,...,...,...,...,...,...,...
6659,PubliAtis,48.869995,2.340695,2006,PARIS,FRA,€1M,1,"{u'type': u'Point', u'coordinates': [2.3406954...","2.3406954, 48.8699947"
6660,Vigilos,47.611331,-122.343058,2000,Seattle,USA,$7.4M,1,"{u'type': u'Point', u'coordinates': [-122.3430...","-122.3430581, 47.6113314"
6661,OptiMedica,37.377798,-121.974454,2004,Santa Clara,USA,$51M,1,"{u'type': u'Point', u'coordinates': [-121.9744...","-121.9744545, 37.3777985"
6662,Tiny Speck,49.282455,-123.109217,2009,Vancouver,CAN,$17.2M,1,"{u'type': u'Point', u'coordinates': [-123.1092...","-123.109217, 49.2824551"
6663,My TV Shows,38.752367,-9.146221,2007,Lisbon,PRT,$0,1,"{u'type': u'Point', u'coordinates': [-9.146220...","-9.1462209, 38.7523672"
6664,Block Shield,51.512790,-0.114374,2000,London,GBR,$0,1,"{u'type': u'Point', u'coordinates': [-0.114374...","-0.114374, 51.5127901"
6665,Advanced Power Projects,37.525246,-121.917842,2009,Fremont,USA,$13M,1,"{u'type': u'Point', u'coordinates': [-121.9178...","-121.9178417, 37.5252461"
6666,ITERNOVA,40.340133,-1.105961,2004,Teruel,ESP,$0,2,"{u'type': u'Point', u'coordinates': [-1.105961...","-1.1059614, 40.3401332"
6667,ITERNOVA,41.669878,-0.894487,2004,Zaragoza,ESP,$0,2,"{u'type': u'Point', u'coordinates': [-0.894486...","-0.8944867, 41.6698776"
6668,Mu-Gahat Enterprises,37.374930,-122.012149,2005,Sunnyvale,USA,$0,1,"{u'type': u'Point', u'coordinates': [-122.0121...","-122.0121486, 37.3749302"
6669,Hellocoton,48.831850,2.338986,2008,Paris,FRA,$0,1,"{u'type': u'Point', u'coordinates': [2.3389864...","2.3389864, 48.8318497"
6670,Luminus Devices,42.528635,-71.278022,2002,Billerica,USA,$136M,1,"{u'type': u'Point', u'coordinates': [-71.27802...","-71.278022, 42.528635"
6671,AwardSpace,54.323738,10.166515,2004,Kiel,DEU,$0,1,"{u'type': u'Point', u'coordinates': [10.166515...","10.1665152, 54.323738"
6672,Buddhacom,43.676252,-79.400859,2008,Toronto,CAN,$0,1,"{u'type': u'Point', u'coordinates': [-79.40085...","-79.4008589, 43.6762521"
6673,InstantQ,37.369195,-122.036849,2009,Sunnyvale,USA,$0,1,"{u'type': u'Point', u'coordinates': [-122.0368...","-122.036849, 37.369195"
6674,SEO Sumo,25.723408,-80.306331,2009,Miami,USA,$0,1,"{u'type': u'Point', u'coordinates': [-80.30633...","-80.306331, 25.723408"
6675,NextLabs,37.553121,-122.301534,2004,San Mateo,USA,$0,1,"{u'type': u'Point', u'coordinates': [-122.3015...","-122.301534, 37.553121"
6676,acrossair,51.517742,-0.116537,2009,London,GBR,$0,1,"{u'type': u'Point', u'coordinates': [-0.116536...","-0.1165365, 51.5177425"
6677,Cantimer,37.484616,-122.181753,2006,Menlo Park,USA,$2M,1,"{u'type': u'Point', u'coordinates': [-122.1817...","-122.181753, 37.484616"
6678,Cameron Health,33.448010,-117.607717,2001,San Clemente,USA,$121M,1,"{u'type': u'Point', u'coordinates': [-117.6077...","-117.607717, 33.44801"
6679,Celestial Semiconductor,37.386417,-121.929170,2004,San Jose,USA,$2M,1,"{u'type': u'Point', u'coordinates': [-121.9291...","-121.92917, 37.386417"
6680,MyChances,39.394564,-119.812079,2009,Reno,USA,$0,2,"{u'type': u'Point', u'coordinates': [-119.8120...","-119.8120795, 39.394564"
6681,MyChances,37.448491,-122.180281,2009,Menlo Park,USA,$0,2,"{u'type': u'Point', u'coordinates': [-122.1802...","-122.1802812, 37.4484914"
6682,Getyoo,50.839970,4.346472,2009,Brussels,BEL,€1.13M,1,"{u'type': u'Point', u'coordinates': [4.3464721...","4.3464721, 50.83997"
6683,EnterSys Group,29.848779,-95.504545,2000,Houston,USA,$0,1,"{u'type': u'Point', u'coordinates': [-95.50454...","-95.5045451, 29.8487788"
6684,Axon Solutions,40.715887,-74.033251,2004,Jersey City,USA,$0,1,"{u'type': u'Point', u'coordinates': [-74.03325...","-74.033251, 40.715887"
6685,Intergy,37.701940,-121.936698,2003,Dublin,USA,$0,1,"{u'type': u'Point', u'coordinates': [-121.9366...","-121.9366984, 37.7019395"
6686,Oriact,47.088219,8.437163,2009,KÃ¼ssnacht,CHE,$0,1,"{u'type': u'Point', u'coordinates': [8.4371634...","8.4371634, 47.0882193"
6687,AfterLogic,40.793024,-74.323554,2002,Livingston,USA,$0,1,"{u'type': u'Point', u'coordinates': [-74.32355...","-74.3235539, 40.7930239"
6688,EnteGreat,33.407786,-86.761302,2000,Birmingham,USA,$0,1,"{u'type': u'Point', u'coordinates': [-86.76130...","-86.7613019, 33.4077856"

In [132]:
df_aux.to_json('better_offices.json', orient="records")