In [19]:
import pymongo
from pymongo import MongoClient
client = MongoClient("localhost", 27017)
db = client["companies"]

from pandas.io.json import json_normalize
import json
import pandas as pd

data = db.nuevas_oficinas2.find()

In [20]:
dataset = pd.DataFrame(list(data))
dataset.head()

,_id,city,country_code,founded_year,geo,latitude,long-lat,longitude,name,total_money_raised,total_offices
0,5d26fafca7c6435d74091fab,Pleasanton,USA,2005,"{u'type': u'Point', u'coordinates': [-121.9049...",37.692934,"-121.904945, 37.692934",-121.904945,Zoho,$0,1
1,5d26fafca7c6435d74091fac,New York City,USA,2007,"{u'type': u'Point', u'coordinates': [-73.98550...",40.757929,"-73.985506, 40.757929",-73.985506,MeetMoi,$5.58M,1
2,5d26fafca7c6435d74091fad,London,GBR,2007,"{u'type': u'Point', u'coordinates': [-6.267494...",53.344104,"-6.267494, 53.344104",-6.267494,Babelgum,$13.2M,1
3,5d26fafca7c6435d74091fae,New York,USA,2006,"{u'type': u'Point', u'coordinates': [-74.00944...",40.746497,"-74.0094471, 40.7464969",-74.009447,Joost,$45M,1
4,5d26fafca7c6435d74091faf,San Francisco,USA,2004,"{u'type': u'Point', u'coordinates': [-122.3945...",37.764726,"-122.394523, 37.764726",-122.394523,Digg,$45M,1

In [21]:
def findNear(geopoint, radio_max_meters=1000):
    return db.nuevas_oficinas2.find({
        "geo": {
         "$near": {
           "$geometry": geopoint,
           "$maxDistance": radio_max_meters,
         }
       }
    })

def media_founded_year(lista_empresas): 
    result = 0
    for empresa in lista_empresas: 
        year = empresa.get('founded_year')
        #print(year, type(year))
        result += year
        
    return result/len(lista_empresas)


#media_founded_year(res)

In [22]:
def calcula(row):
    g=row.get('geo')
    lista=findNear(g)
    lista = list(lista)

    resultado=media_founded_year(lista)
    return resultado

calcula(dataset.loc[4])

2006

In [23]:
dataset['average_founded_year'] = dataset.apply(calcula, axis=1)

In [24]:
dataset

,_id,city,country_code,founded_year,geo,latitude,long-lat,longitude,name,total_money_raised,total_offices,average_founded_year
0,5d26fafca7c6435d74091fab,Pleasanton,USA,2005,"{u'type': u'Point', u'coordinates': [-121.9049...",37.692934,"-121.904945, 37.692934",-121.904945,Zoho,$0,1,2005
1,5d26fafca7c6435d74091fac,New York City,USA,2007,"{u'type': u'Point', u'coordinates': [-73.98550...",40.757929,"-73.985506, 40.757929",-73.985506,MeetMoi,$5.58M,1,2006
2,5d26fafca7c6435d74091fad,London,GBR,2007,"{u'type': u'Point', u'coordinates': [-6.267494...",53.344104,"-6.267494, 53.344104",-6.267494,Babelgum,$13.2M,1,2005
3,5d26fafca7c6435d74091fae,New York,USA,2006,"{u'type': u'Point', u'coordinates': [-74.00944...",40.746497,"-74.0094471, 40.7464969",-74.009447,Joost,$45M,1,2006
4,5d26fafca7c6435d74091faf,San Francisco,USA,2004,"{u'type': u'Point', u'coordinates': [-122.3945...",37.764726,"-122.394523, 37.764726",-122.394523,Digg,$45M,1,2006
5,5d26fafca7c6435d74091fb0,Sunnyvale,USA,2002,"{u'type': u'Point', u'coordinates': [-122.0551...",37.387845,"-122.055197, 37.387845",-122.055197,Plaxo,$28.3M,1,2003
6,5d26fafca7c6435d74091fb1,West Hollywood,USA,2006,"{u'type': u'Point', u'coordinates': [-118.3930...",34.090368,"-118.393064, 34.090368",-118.393064,Geni,$16.5M,1,2005
7,5d26fafca7c6435d74091fb2,New York,USA,2005,"{u'type': u'Point', u'coordinates': [-73.99643...",40.723731,"-73.9964312, 40.7237306",-73.996431,Wetpaint,$39.8M,2,2006
8,5d26fafca7c6435d74091fb3,San Francisco,USA,2006,"{u'type': u'Point', u'coordinates': [-122.4169...",37.776805,"-122.4169244, 37.7768052",-122.416924,Twitter,$1.16B,1,2006
9,5d26fafca7c6435d74091fb4,Menlo Park,USA,2004,"{u'type': u'Point', u'coordinates': [-122.1518...",37.416050,"-122.151801, 37.41605",-122.151801,Facebook,$2.43B,3,2005
10,5d26fafca7c6435d74091fb5,Dublin,IRL,2004,"{u'type': u'Point', u'coordinates': [-6.267494...",53.344104,"-6.267494, 53.344104",-6.267494,Facebook,$2.43B,3,2005
11,5d26fafca7c6435d74091fb6,New York,USA,2004,"{u'type': u'Point', u'coordinates': [-73.97924...",40.755716,"-73.9792469, 40.7557162",-73.979247,Facebook,$2.43B,3,2005
12,5d26fafca7c6435d74091fb7,San Francisco,USA,2006,"{u'type': u'Point', u'coordinates': [-122.3952...",37.778613,"-122.395289, 37.778613",-122.395289,Powerset,$22.5M,1,2005
13,5d26fafca7c6435d74091fb8,Menlo Park,USA,2003,"{u'type': u'Point', u'coordinates': [-122.1694...",37.484130,"-122.169472, 37.48413",-122.169472,Gizmoz,$18.1M,1,2005
14,5d26fafca7c6435d74091fb9,Los Angeles,USA,2005,"{u'type': u'Point', u'coordinates': [-118.4465...",34.057498,"-118.446596, 34.057498",-118.446596,Helio,$0,1,2005
15,5d26fafca7c6435d74091fba,Culver City,USA,2007,"{u'type': u'Point', u'coordinates': [-118.4872...",34.017606,"-118.487267, 34.017606",-118.487267,Mahalo,$21M,1,2005
16,5d26fafca7c6435d74091fbb,Seattle,USA,2005,"{u'type': u'Point', u'coordinates': [-122.3332...",47.603122,"-122.333253, 47.603122",-122.333253,Wetpaint,$39.8M,2,2005
17,5d26fafca7c6435d74091fbc,Austin,USA,2006,"{u'type': u'Point', u'coordinates': [-97.74520...",30.268735,"-97.745209, 30.268735",-97.745209,Thoof,$1M,1,2006
18,5d26fafca7c6435d74091fbd,San Francisco,USA,2007,"{u'type': u'Point', u'coordinates': [-122.4040...",37.789634,"-122.404052, 37.789634",-122.404052,Scribd,$25.8M,1,2005
19,5d26fafca7c6435d74091fbe,New York,USA,2002,"{u'type': u'Point', u'coordinates': [-73.99572...",40.726040,"-73.995722, 40.72604",-73.995722,Meetup,$18.3M,1,2006
20,5d26fafca7c6435d74091fbf,San Francisco,USA,2002,"{u'type': u'Point', u'coordinates': [-122.3930...",37.779558,"-122.393041, 37.779558",-122.393041,Technorati,$32.1M,1,2005
21,5d26fafca7c6435d74091fc0,San Diego,USA,2004,"{u'type': u'Point', u'coordinates': [-117.2083...",32.902266,"-117.20834, 32.902266",-117.208340,Veoh,$69.8M,1,2005
22,5d26fafca7c6435d74091fc1,San Francisco,USA,2006,"{u'type': u'Point', u'coordinates': [-122.4091...",37.788482,"-122.409173, 37.788482",-122.409173,Kyte,$23.4M,1,2005
23,5d26fafca7c6435d74091fc2,0,USA,2007,"{u'type': u'Point', u'coordinates': [-95.71289...",37.090240,"-95.712891, 37.09024",-95.712891,Sparter,$0,1,2005
24,5d26fafca7c6435d74091fc3,San Diego,USA,2006,"{u'type': u'Point', u'coordinates': [-117.0814...",33.022176,"-117.081406, 33.022176",-117.081406,Slacker,$73.1M,1,2006
25,5d26fafca7c6435d74091fc4,San Francisco,USA,2005,"{u'type': u'Point', u'coordinates': [-122.4025...",37.793148,"-122.402567, 37.793148",-122.402567,Wesabe,$4.7M,1,2005
26,5d26fafca7c6435d74091fc5,Mountain View,USA,2002,"{u'type': u'Point', u'coordinates': [-122.0676...",37.390056,"-122.067692, 37.390056",-122.067692,SmugMug,$0,1,2005
27,5d26fafca7c6435d74091fc6,Pleasanton,USA,2005,"{u'type': u'Point', u'coordinates': [-121.9077...",37.697805,"-121.907768, 37.697805",-121.907768,Jangl SMS,$9M,1,2005
28,5d26fafca7c6435d74091fc7,Mountain View,USA,2005,"{u'type': u'Point', u'coordinates': [-122.0899...",37.423390,"-122.0899512, 37.4233896",-122.089951,Jajah,$33M,1,2004
29,5d26fafca7c6435d74091fc8,Tempe,USA,2005,"{u'type': u'Point', u'coordinates': [-111.9387...",33.429859,"-111.938739, 33.429859",-111.938739,LifeLock,$178M,1,2006
...,...,...,...,...,...,...,...,...,...,...,...,...
6659,5d26fafca7c6435d740939b4,PARIS,FRA,2006,"{u'type': u'Point', u'coordinates': [2.3406954...",48.869995,"2.3406954, 48.8699947",2.340695,PubliAtis,€1M,1,2005
6660,5d26fafca7c6435d740939b5,Seattle,USA,2000,"{u'type': u'Point', u'coordinates': [-122.3430...",47.611331,"-122.3430581, 47.6113314",-122.343058,Vigilos,$7.4M,1,2005
6661,5d26fafca7c6435d740939b6,Vancouver,CAN,2009,"{u'type': u'Point', u'coordinates': [-123.1092...",49.282455,"-123.109217, 49.2824551",-123.109217,Tiny Speck,$17.2M,1,2005
6662,5d26fafca7c6435d740939b7,Lisbon,PRT,2007,"{u'type': u'Point', u'coordinates': [-9.146220...",38.752367,"-9.1462209, 38.7523672",-9.146221,My TV Shows,$0,1,2007
6663,5d26fafca7c6435d740939b8,Santa Clara,USA,2004,"{u'type': u'Point', u'coordinates': [-121.9744...",37.377798,"-121.9744545, 37.3777985",-121.974454,OptiMedica,$51M,1,2004
6664,5d26fafca7c6435d740939b9,Fremont,USA,2009,"{u'type': u'Point', u'coordinates': [-121.9178...",37.525246,"-121.9178417, 37.5252461",-121.917842,Advanced Power Projects,$13M,1,2009
6665,5d26fafca7c6435d740939ba,Zaragoza,ESP,2004,"{u'type': u'Point', u'coordinates': [-0.894486...",41.669878,"-0.8944867, 41.6698776",-0.894487,ITERNOVA,$0,2,2004
6666,5d26fafca7c6435d740939bb,London,GBR,2000,"{u'type': u'Point', u'coordinates': [-0.114374...",51.512790,"-0.114374, 51.5127901",-0.114374,Block Shield,$0,1,2005
6667,5d26fafca7c6435d740939bc,Teruel,ESP,2004,"{u'type': u'Point', u'coordinates': [-1.105961...",40.340133,"-1.1059614, 40.3401332",-1.105961,ITERNOVA,$0,2,2004
6668,5d26fafca7c6435d740939bd,Sunnyvale,USA,2005,"{u'type': u'Point', u'coordinates': [-122.0121...",37.374930,"-122.0121486, 37.3749302",-122.012149,Mu-Gahat Enterprises,$0,1,2005
6669,5d26fafca7c6435d740939be,Billerica,USA,2002,"{u'type': u'Point', u'coordinates': [-71.27802...",42.528635,"-71.278022, 42.528635",-71.278022,Luminus Devices,$136M,1,2002
6670,5d26fafca7c6435d740939bf,Kiel,DEU,2004,"{u'type': u'Point', u'coordinates': [10.166515...",54.323738,"10.1665152, 54.323738",10.166515,AwardSpace,$0,1,2004
6671,5d26fafca7c6435d740939c0,Paris,FRA,2008,"{u'type': u'Point', u'coordinates': [2.3389864...",48.831850,"2.3389864, 48.8318497",2.338986,Hellocoton,$0,1,2008
6672,5d26fafca7c6435d740939c1,Sunnyvale,USA,2009,"{u'type': u'Point', u'coordinates': [-122.0368...",37.369195,"-122.036849, 37.369195",-122.036849,InstantQ,$0,1,2006
6673,5d26fafca7c6435d740939c2,Miami,USA,2009,"{u'type': u'Point', u'coordinates': [-80.30633...",25.723408,"-80.306331, 25.723408",-80.306331,SEO Sumo,$0,1,2009
6674,5d26fafca7c6435d740939c3,Toronto,CAN,2008,"{u'type': u'Point', u'coordinates': [-79.40085...",43.676252,"-79.4008589, 43.6762521",-79.400859,Buddhacom,$0,1,2008
6675,5d26fafca7c6435d740939c4,San Mateo,USA,2004,"{u'type': u'Point', u'coordinates': [-122.3015...",37.553121,"-122.301534, 37.553121",-122.301534,NextLabs,$0,1,2004
6676,5d26fafca7c6435d740939c5,London,GBR,2009,"{u'type': u'Point', u'coordinates': [-0.116536...",51.517742,"-0.1165365, 51.5177425",-0.116537,acrossair,$0,1,2006
6677,5d26fafca7c6435d740939c6,Menlo Park,USA,2006,"{u'type': u'Point', u'coordinates': [-122.1817...",37.484616,"-122.181753, 37.484616",-122.181753,Cantimer,$2M,1,2004
6678,5d26fafca7c6435d740939c7,San Clemente,USA,2001,"{u'type': u'Point', u'coordinates': [-117.6077...",33.448010,"-117.607717, 33.44801",-117.607717,Cameron Health,$121M,1,2001
6679,5d26fafca7c6435d740939c8,San Jose,USA,2004,"{u'type': u'Point', u'coordinates': [-121.9291...",37.386417,"-121.92917, 37.386417",-121.929170,Celestial Semiconductor,$2M,1,2005
6680,5d26fafca7c6435d740939c9,Reno,USA,2009,"{u'type': u'Point', u'coordinates': [-119.8120...",39.394564,"-119.8120795, 39.394564",-119.812079,MyChances,$0,2,2009
6681,5d26fafca7c6435d740939ca,Menlo Park,USA,2009,"{u'type': u'Point', u'coordinates': [-122.1802...",37.448491,"-122.1802812, 37.4484914",-122.180281,MyChances,$0,2,2007
6682,5d26fafca7c6435d740939cb,Houston,USA,2000,"{u'type': u'Point', u'coordinates': [-95.50454...",29.848779,"-95.5045451, 29.8487788",-95.504545,EnterSys Group,$0,1,2000
6683,5d26fafca7c6435d740939cc,Brussels,BEL,2009,"{u'type': u'Point', u'coordinates': [4.3464721...",50.839970,"4.3464721, 50.83997",4.346472,Getyoo,€1.13M,1,2009
6684,5d26fafca7c6435d740939cd,Jersey City,USA,2004,"{u'type': u'Point', u'coordinates': [-74.03325...",40.715887,"-74.033251, 40.715887",-74.033251,Axon Solutions,$0,1,2004
6685,5d26fafca7c6435d740939ce,Dublin,USA,2003,"{u'type': u'Point', u'coordinates': [-121.9366...",37.701940,"-121.9366984, 37.7019395",-121.936698,Intergy,$0,1,2003
6686,5d26fafca7c6435d740939cf,Livingston,USA,2002,"{u'type': u'Point', u'coordinates': [-74.32355...",40.793024,"-74.3235539, 40.7930239",-74.323554,AfterLogic,$0,1,2002
6687,5d26fafca7c6435d740939d0,Birmingham,USA,2000,"{u'type': u'Point', u'coordinates': [-86.76130...",33.407786,"-86.7613019, 33.4077856",-86.761302,EnteGreat,$0,1,2000
6688,5d26fafca7c6435d740939d1,KÃ¼ssnacht,CHE,2009,"{u'type': u'Point', u'coordinates': [8.4371634...",47.088219,"8.4371634, 47.0882193",8.437163,Oriact,$0,1,2009

In [25]:
dataset['average_founded_year'].max()

2013

In [26]:
#dataset = dataset[dataset['average_founded_year']==dataset["average_founded_year"].max()]

In [27]:
#df = df.drop(df[df["R1"] == 1].index)
dataset = dataset.drop(dataset[dataset["average_founded_year"] < 2013].index)

In [28]:
dataset

,_id,city,country_code,founded_year,geo,latitude,long-lat,longitude,name,total_money_raised,total_offices,average_founded_year
2324,5d26fafca7c6435d740928c1,Seattle,USA,2013,"{u'type': u'Point', u'coordinates': [-93.22650...",44.859587,"-93.226503, 44.859587",-93.226503,Gimigo,$0,1,2013
3993,5d26fafca7c6435d74092f47,Manchester,GBR,2013,"{u'type': u'Point', u'coordinates': [-2.243949...",53.483707,"-2.2439492, 53.4837067",-2.243949,Clowdy,$0,1,2013

In [14]:
dataset.to_json('afines4.json', orient="records", default_handler=str)

In [16]:
#composer require skagarwal/google-places-api

In [30]:
from googleplaces import GooglePlaces, types, lang

ImportError: No module named googleplaces

In [32]:
import requests
import os

API_KEY= ''
with open("token.py") as file:
    API_KEY = file.read().strip()
liststb=[]
for i in range(len(dataset)):
    solicitud = requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={},{}&radius=1000&types=food&name={}&key={}'.format('longitude':-93.226503, 'latitude': 44.859587,Starbucks,API_KEY))
    stb= res.json()
    if len(stb)>0:
        liststb.append(i)

SyntaxError: invalid syntax (<ipython-input-32-aad887812636>, line 9)

In [12]:
#from dotenv import load_dotenv
#load_dotenv()
import requests
import os

#BASE_URL = "https://api.github.com"
BASE_URL = "https://maps.googleapis.com"
#https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Museum%20of%20Contemporary%20Art%20Australia&inputtype=textquery&fields=photos,formatted_address,name,rating,opening_hours,geometry&key=YOUR_API_KEY
API_KEY = os.getenv("token_maps")

with open(".env") as file:
    API_KEY= file.read().strip()

name = "Starbucks"

res = requests.get("maps/api/place/findplacefromtext/json?input={}/%20of%20{}%20{}&inputtype")
res = requests.get("{}/maps/api/place/findplacefromtext/json?inputtype=textquery&fields={}&key={}".format(BASE_URL,name,API_KEY))
res = requests.get("{}/repos/{}/{}/stargazers".format(BASE_URL,owner, repo))

In [31]:
dataset.to_json('afines3.json', orient="records", default_handler=str)

In [98]:
#dataset = dataset[dataset['average_founded_year']==dataset["average_founded_year"].max()]

In [101]:
#dataset.to_csv("resultado_empresas", sep='\t', encoding='utf-8')

In [102]:
#dataset.to_json('nuevas_oficinas_geoquery.json', orient="records")

In [62]:

#dataset["average_founded_year"] = dataset["founded_year"].apply(media_founded_year)

In [ ]:
#dataset["founded_year"].value_counts()

In [ ]:
# iterate over rows with iterrows()
#for index, row in flights.head().iterrows():
     # access data using column names
 #    print(index, row['delay'], row['distance'], row['origin'])
    
#for index, row in dataset.head().iterrows():
 #   print(index, row)

In [ ]:
#dataset["average_founded_year"] = media_founded_year(dataset["founded_year"])
#def actualidad_score(col):
 #   actualidad_score = []
  #  for i in range(len(col)):
   #     actualidad_score.append(years_scores.get(col[i]))
    #return actualidad_score
#mydataframe["actualidad_score"] = actualidad_score(mydataframe["founded_year"])

In [ ]:
#media_founded_year(res)

In [ ]:
#dataset.head()

In [ ]:
# https://developers.google.com/maps/documentation/geocoding/intro

In [ ]:
#dataset.shape